### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
TreeLib/*pyc

# Binary script in home folder
profileNJ
reconcile.py

# Simulation data
tests/*.mat
tests/Simulation
tests/matlab/*mat
tests/matlab/data/*
tests/matlab/images/*

# Distribution and packaging
.Python
env/
build/
develop-eggs/
dist/
eggs/
*.egg-info/
.installed.cfg
*.egg