### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*pyc

# Binary script in home folder
profileNJ.py
reconcile.py
polySolver.py
# data folder
data/*


# Distribution and packaging
.Python
env/
build/
develop-eggs/
dist/
eggs/
*.egg-info/
.installed.cfg
*.egg
